@using K9.WebApplication.ViewModels
@model AllergenSheetModel

@if (Model != null)
{
    <h4>Dishes and their allergen content</h4>
    
    <p>This allegen data is based on recipe information and specifications provided by our suppliers. This information is reviewed regularly, but the circumstances in which a product is produced, packed, stored and distributed may change without our knowledge.</p>
    
    <p>Although due care is taken to prevent cross-contamination in our kitchens, it is impossible to fully guarantee the separation of allergen-containing ingredients in storage, preparation and cooking.</p>

    <table>
        <thead>
        <th></th>
        </thead>
    </table>
}
