@using K9.WebApplication.Helpers
@{
    ViewBag.Title = K9.Base.Globalisation.Dictionary.Home;
    ViewBag.SubTitle = "Wolf Kitchen Manager";
    ViewBag.Background = ViewBagHelper.EViewBackground.Default;
    Layout = "../Shared/_LayoutFormMedium.cshtml";
}

@Html.Partial("_BetaPopup")

<div class="container main-content">
    <div class="well margin-bottom-0">
        <article>
            @if (!WebSecurity.IsAuthenticated)
            {
                <h4>Welcome to Wolf Kitchen Manager. Please @Html.ActionLink("log in","Login", "Account")</h4>
            }
            else
            {
                @Html.Partial("_AllergenSheet")
            }
        </article>
        
    </div>
</div>